<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/cadastroUsuario.css">
</head>
<body>

<!-- O 'action' aponta apenas para o método de salvar -->
<form th:action="@{/ecommerce/adm/usuario/salvar}" th:object="${usuario}" method="post">

    <!-- Campos do formulário para cadastro de produto -->
    <div>
        <label for="nome">Nome do Usuário:</label>
        <input type="text" id="nome" th:field="*{nome}" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" required>
    </div>
    <div>
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" th:field="*{cpf}" required>
    </div>
    <div>
        <label for="status">status:</label>
        <input type="text" id="status" th:field="*{status}" required>
    </div>

    <div>
        <label for="grupo">Grupo:</label>
        <input type="text" id="grupo" th:field="*{grupo}" required>
    </div>

    <div>
        <label for="senha">senha:</label>
        <input type="password" id="senha" th:field="*{senha}" required>
    </div>

    <div>
        <label for="repetirSenha">Repetir Senha:</label>
        <input type="password" id="repetirSenha" th:field="*{repetirSenha}" required>
    </div>

    <button type="submit">Cadastrar Usuário</button>
</form>


</body>
</html>