<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Pedidos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Meus Pedidos</h1>
            <p class="lead fw-normal text-white-50 mb-0">Visualize seus pedidos anteriores</p>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5">
        <!-- Mensagem de erro caso não haja pedidos -->
        <div th:if="${mensagemErro}" class="alert alert-warning text-center" th:text="${mensagemErro}"></div>

        <!-- Tabela de pedidos -->
        <table class="table table-striped" th:if="${pedidos}">
            <thead>
            <tr>
                <th>ID do Pedido</th>
                <th>Forma de Pagamento</th>
                <th>Valor do Frete</th>
                <th>Valor Total</th>
                <th>Status</th>
                <th>Detalhes</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop pelos pedidos -->
            <tr th:each="pedidoCliente : ${pedidos}">
                <td th:text="${pedidoCliente.id}"></td>
                <td th:text="${pedidoCliente.pedidos != null && !pedidoCliente.pedidos.isEmpty() ? pedidoCliente.pedidos[0].opcaoPagamento : 'Não informado'}"></td>
                <td th:text="${pedidoCliente.pedidos[0].valorFrete}"></td> <!-- Exibe o valor do frete -->
                <td th:text="${pedidoCliente.valorTotal}"></td>
                <td th:text="${pedidoCliente.status}"></td>

                <td>
                    <a th:href="@{'/detalhes-pedido/' + ${pedidoCliente.id}}" class="btn btn-primary">Ver Detalhes</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</section>

<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-white">Pop-Comic © 2024. Todos os direitos reservados.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
