<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Produto</title>
    <link rel="stylesheet" href="/css/Detalhes.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <!-- Nome do Produto -->
    <h2 th:text="${produto.nome}"></h2>

    <!-- Carrossel -->
    <div id="carrosselImagens" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img th:src="@{'/imagens/' + ${produto.imagenPrincipal}}" class="d-block w-100" alt="Imagem Principal">
            </div>
            <div th:each="imagem : ${produto.imagens}" class="carousel-item">
                <img th:src="@{'/imagens/' + ${imagem}}" class="d-block w-100" alt="Imagem do Produto">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carrosselImagens" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carrosselImagens" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>

    <!-- Descrição e Detalhes do Produto -->
    <div class="mt-3">
        <h4>Descrição:</h4>
        <p th:text="${produto.descricao}"></p>
        <h4>Preço:</h4>
        <p th:text="${produto.preco} + ' R$'"></p>
        <h4>Avaliação:</h4>
        <p th:text="${produto.avaliacao} + ' estrelas'"></p>
    </div>

    <!-- Botão -->
    <form th:action="@{/carrinho/adicionar}" method="post">
        <input type="hidden" th:value="${produto.id}" name="produtoId">
        <button type="submit" class="btn btn-primary">Comprar</button>
    </form>
</div>

<!-- Scripts JS do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</div>

</body>
</html>